// Make page header alignment consistent with widget page header alignment

body {
  font-family: 'Noto Sans Bengali', sans-serif;
}

:root {
  color-scheme: dark light;
}

.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.home-section  { 
  padding: 20px
}

.hero-lead {
  font-size: 1.1rem;
}

/* For light mode */
.hero-media{
  color: #4f5368;
  fill: #4f5368;
}

.article-title a:hover {
  color: #ac1f24;
  text-decoration: none;
}

.nav-link a:hover {
  color: #ac1f24;
  text-decoration: none;
}

.wg-hero .hero-lead a{
  text-decoration: none;
}

.nav-link span:hover{
  color: #ac1f24;
}


/* For dark mode */
@media (prefers-color-scheme: dark) {
  .hero-media {
    color: #ffffff; /* or any color that contrasts with your dark background */
  }

  .article-title a:hover {
    color: #FF8A80;
    text-decoration: none;
  }
  
  .nav-link a:hover {
    color: #FF8A80;
    text-decoration: none;
  }
  
  .wg-hero .hero-lead a{
    text-decoration: none;
  }
  .nav-link span:hover{
    color: #FF8A80;
  }

}


#breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7rem;
}

#breadcrumbs li {
  display: flex;
  align-items: center;
}

#breadcrumbs li::after {
  content: "⟩";
  margin: 0 0.5rem;
  color: #4f5368; /* lighter color for the separator */
}

#breadcrumbs li:last-child::after {
  content: ""; /* Remove arrow after the last breadcrumb */
}

.space-below10 {
  margin-bottom: 10px;
}

#breadcrumbs a {
  text-decoration: none;
  color: #ac1f24; /* Bootstrap primary ac1f24 */
}

#breadcrumbs a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  #breadcrumbs li+li::after {
    content: "⟩";
    margin: 0 0.5rem;
    color: #ffffff; /* lighter color for the separator */
  }
  
  #breadcrumbs a {
    text-decoration: none;
    color: #FF8A80; /* Bootstrap primary ac1f24 */
  }
}

/* Container for all language flags */
.i18n-flags {
  display: flex;
  align-items: center;
  justify-content: center; /* Center flags horizontally */
  gap: 0.2rem; /* Adjust spacing between flags */
  margin: 0.5rem 0;
}

/* Style for each flag link */
.flag-link {
  display: inline-block;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

/* Style for the flag images */
.flag-icon {
  width: 24px;  /* Adjust the flag size as needed */
  height: auto;
  display: block;
}

/* Hover effect to enlarge the flag slightly */
.flag-link:hover .flag-icon {
  transform: scale(1.2);
}

.theme-toggle:hover #theme-icon {
  transform: scale(1.2);
}

/* Mobile Styles: left aligned and scaled 1.5 times */
@media (max-width: 768px) {
  .i18n-flags {
    justify-content: flex-start;
    padding: 10px 15px !important;
    gap: 1rem;
  }
  .flag-icon {
    transform: scale(1.5);
  }
}

