{{- define "main" -}}
{{/* Require Isotope */}}
{{ $.Page.Store.Set "has_isotope" true }}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  <div class="row">
    <div class="col-lg-12">

      {{ with .Content }}
        <div class="article-style">{{ . }}</div>
      {{ end }}

      {{/* Initialize a scratch dictionary for year counts */}}
      {{ $.Scratch.Set "yearCounts" (dict) }}
      {{ range .Pages.ByDate.Reverse }}
        {{ $year := .Date.Format "2006" }}
        {{ $counts := $.Scratch.Get "yearCounts" }}
        {{ if (isset $counts $year) }}
          {{ $newCount := add (index $counts $year) 1 }}
          {{ $.Scratch.Set "yearCounts" (merge $counts (dict $year $newCount)) }}
        {{ else }}
          {{ $.Scratch.Set "yearCounts" (merge $counts (dict $year 1)) }}
        {{ end }}
      {{ end }}

      <div class="form-row mb-4">
        <div class="col-auto">
          <input
            type="search"
            class="filter-search form-control form-control-sm"
            placeholder="{{ i18n "search_placeholder" }}"
            autocapitalize="off"
            autocomplete="off"
            autocorrect="off"
            role="textbox"
            spellcheck="false">
        </div>

        {{/* Publication types filter with halved counts, as BN and EN has copy of the same publication */}}
        <div class="col-auto">
          <select class="pub-filters pubtype-select form-control form-control-sm {{site.Language.Lang}}" data-filter-group="pubtype">
            <option value="*">{{ i18n "publication_type" }}</option>
            {{ range $index, $taxonomy := site.Taxonomies.publication_types }}
              <option value=".pubtype-{{ $index }}">
                {{ i18n (printf "pub_%s" (strings.Replace $index "-" "_")) | default (strings.Title $index) }}
                
                {{ $localizedCount := partial "convert_number_bn.html" (printf "%d" (div (len $taxonomy) 1)) }}
              {{ if eq (site.Language.Lang) "en" }}
                {{ $localizedCount = partial "convert_number_bn.html" (printf "%d" (div (len $taxonomy) 2)) }}
              {{ end }}
              
                ({{ $localizedCount }})
              </option>
            {{ end }}
          </select>
        </div>

        {{/* Year filter with halved counts */}}
        <div class="col-auto">
          <select class="pub-filters form-control form-control-sm" data-filter-group="year">
            <option value="*">{{ i18n "year" }}</option>
            {{/* Build and sort keys for the yearCounts map */}}
            {{ $yearKeys := slice }}
            {{ $yearCounts := $.Scratch.Get "yearCounts" }}
            {{ range $year, $count := $yearCounts }}
              {{ $yearKeys = $yearKeys | append $year }}
            {{ end }}

            {{/* Sort in ascending order then reverse to get descending order */}}
            {{ $sortedYears := sort $yearKeys }}
            {{ $yearKeysRev := slice }}
            {{ $len := len $sortedYears }}
            {{ range $i, $dummy := $sortedYears }}
              {{ $yearKeysRev = $yearKeysRev | append (index $sortedYears (sub (sub $len 1) $i)) }}
            {{ end }}
            {{ $yearKeys = $yearKeysRev }}

            {{ range $year := $yearKeys }}
              <option value=".year-{{ $year }}">
                {{ partial "convert_number_bn.html" (printf "%s" $year) }} ({{ partial "convert_number_bn.html" (printf "%d" (index $yearCounts $year)) }})
              </option>
            {{ end }}
          </select>
        </div>
      </div>

      <div id="container-publications">
        {{ range $index, $item := .Pages.ByDate.Reverse }}
          {{ if .Params.publication_types }}
            {{ $.Scratch.Set "pubtype" (index .Params.publication_types 0) }}
          {{ else }}
            {{ $.Scratch.Set "pubtype" 0 }}
          {{ end }}

          <div class="grid-sizer col-lg-12 isotope-item pubtype-{{ $.Scratch.Get "pubtype" }} year-{{ .Date.Format "2006" }}">
            {{ partial "functions/render_view" (dict "page" $ "item" . "view" ($.Params.view | default "compact") "index" $index) }}
          </div>
        {{ end }}
      </div>

    </div>
  </div>
</div>

{{- end -}}
